:root {
    color-scheme: light only;

    /* font-family styles */
    --font-primary: "Noto Sans Thai Looped", sans-serif;
    --font-secondary: "Kanit", sans-serif;
    --font-accent: "Zen Antique", serif;
    --font-decorative: "Volkhov", serif;

    /* font size */
    --size-heading: 4.7rem;
    --size-subheading: 2.2rem;
    --size-title: 2rem;
    --size-body: 1.3rem;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url(../image/Background/Aboutis_wall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 40%;
    position: relative;
}

.hero_caption {
    position: relative;
    z-index: 2;
    padding: 0 20px;
    color: #e0dddd;
    font-family: var(--font-decorative);
    font-weight: 600;

}

.hero .overay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.728));
    z-index: 1;
}

.Main {
    font-size: var(--size-heading);
    font-weight: 800;
}

.Subheadings {
    font-size: var(--size-subheading);
}

.Aboutus_IMG_1 {
    max-height: 400px;
    object-fit: cover;
    width: 100%;
    object-position: 0% 60%;
}


.Aboutus_IMG_2 {
    max-height: 400px;
    object-fit: cover;
    width: 100%;
    object-position: 0% 70%;
}

.row1_text,
.row2_text {
    font-family: var(--font-secondary)
}

.card-title {
    font-size: 5px !important
}

.card-body h5 {
    font-size: var(--size-title) !important
}

.card-body P {
    font-size: var(--size-body);
}

.row2_text h5 {
    margin-left: 1rem;
}

/* .list-unstyled {
    font-size: var(--size-body);
} */

.row2_text p,
.company_target {
    font-size: 16px;
}

@media (max-width:1210px) {

    .row2_text p,
    .company_target {
        font-size: 15px;
    }

}

@media (max-width:1060px) {

    .row2_text p,
    .company_target {
        font-size: 12px;
    }

}

@media (max-width:870px) {

    .row2_text p,
    .company_target {
        font-size: 10px;
    }

}

@media (max-width:870px) {

    .row2_text p,
    .company_target {
        font-size: 13px;
    }

}

@media (max-width:440px) {

    .row2_text p,
    .company_target {
        font-size: 10px;
    }

}

/* Responsive */

@media (max-width:1160px) {
    :root {
        --size-body: 1rem;
        --size-title: 1.5rem;
        --size-heading: 3.5rem;
        --size-subheading: 2rem;
    }

    .hero {
        height: 300px;
    }
}

@media (max-width:1000px) {
    :root {
        --size-body: 0.8rem;
        --size-title: 1.2rem;
        --size-heading: 3rem;
        --size-subheading: 1.8rem;
    }

    .hero {
        height: 280px;
    }
}

@media (max-width:870px) {
    :root {
        --size-body: 0.6rem;
        --size-title: 1rem;
        --size-heading: 2.5rem;
        --size-subheading: 1.5rem;
    }

    .hero {
        height: 200px;
    }
}

@media (max-width:767px) {
    :root {
        --size-body: 1rem;
        --size-title: 1.5rem
    }

    .Aboutus_IMG_1 {
        max-height: 320px;
    }

    .Aboutus_IMG_2 {
        max-height: 380px;
    }

    .row2_text h5 {
        margin-left: 0;
    }
}

@media (max-width:600px) {
    :root {
        --size-body: 0.8rem;
        --size-title: 1.2rem
    }

    .Aboutus_IMG_1 {
        max-height: 250px;
    }

    .Aboutus_IMG_2 {
        max-height: 310px;
    }
}

@media (max-width:440px) {
    :root {
        --size-body: 0.6rem;
        --size-title: 1rem
    }

    .Aboutus_IMG_1 {
        max-height: 190px;
    }

    .Aboutus_IMG_2 {
        max-height: 220px;
    }
}